# Files and directories created by pub.
.dart_tool/
.packages

# Conventional directory for build output.
build/
/tmp/
/my_hive_dir/

# Not to show my secret environment variables
/.run/
/.idea/


/doc/
